<div class="vads-l-row">
    <div class="vads-l-col vads-u-margin-right--3">

        <ul class="usa-accordion-bordered" data-multiselectable="true">
            {% include accordion.html title="Example metric 1" content="Example content 1" %}

            {% include accordion.html title="Example metric 2" content="Example content 2" %}
        </ul>

    </div>

    <div class="vads-l-col">

        <ul class="usa-accordion-bordered" data-multiselectable="true">
            {% include accordion.html title="Example metric 3" content="Example content 3" %}
        </ul>

    </div>
</div>