<div class="vads-l-row">
    <div class="vads-l-col">

        <h2 class="vads-u-font-family--serif">
            VA.gov at a glance
        </h2>

    </div>
</div>

<div class="vads-l-row">
    <div class="vads-l-col additional-info-container vads-u-margin-y--2">
        <div class="additional-info-title">How is this measured?</div>
        <div class="additional-info-content">Content</div>
    </div>
</div>

<div class="vads-l-row">
    <div class="vads-l-col--12 medium-screen:vads-l-col--3"
         role="tablist"
         aria-label="Select a dataset">
        <ul class="vads-l-row usa-sidenav-list">
            {% for chart in site.data.at_a_glance %}
            <li class="vads-l-col--6 medium-screen:vads-l-col--12">
                <a tabindex="0"
                   role="tab"
                   aria-controls="{{ chart.id }}Chart"
                   aria-selected="{% if chart.id == 'users' %}true{% else %}false{% endif %}"
                   id="chart-nav-{{ chart.id }}"
                   class="chart-nav{% if chart.id == 'users' %} usa-current{% endif %}">

                    {% capture chart_total_key %}{{ chart.id | append:"_total" }}{% endcapture %}
                    <h3 class="vads-u-font-family--sans vads-u-font-size--sm vads-u-margin-y--0">
                        {{ chart.title | upcase }}
                    </h3>
                    <span class="vads-u-font-weight--bold vads-u-font-size--lg vads-u-font-family--serif">
                        {{ site.data.counts[chart_total_key] | intcomma }}
                    </span>

                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="vads-l-col--12 medium-screen:vads-l-col--9">
        {% for chart in site.data.at_a_glance %}
        <div class="chart" id="{{ chart.id }}">
            <canvas id="{{ chart.id }}Chart"
                    role="img"
                    aria-labelledby="chart-nav-{{ chart.id }}"
                    aria-label=""
                    {% if chart.id != "users" %}hidden{% endif %}>
            </canvas>
            <script nonce="**CSP_NONCE**">
                {% include charts/draw_chart.js %}
                {% include charts/add_aria_label.js %}
            </script>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    {% include charts/chart_nav.js %}
</script>

