<footer class="site-footer" role="contentinfo">
    <div class="vads-l-grid-container">
        <div class="vads-l-row">
            <div class="vads-l-col">
                <div class="site-footer__wrapper">
                    <div class="site-footer__vagov">
                        <a href="https://www.va.gov/" class="site-footer__logo" title="Go to VA.gov">
                            <img src="{{site.baseurl}}/assets/img/va-logo-white.png"
                                 alt="U.S. Department of Veterans Affairs logo">
                        </a>
                        <a href="https://www.va.gov/">Go to VA.gov</a>
                    </div>
                    <div class="site-footer__links">
                        <a href="https://www.va.gov/ABOUT_VA/index.asp">About VA</a>
                        <a href="https://www.va.gov/foia/">FOIA</a>
                        <a href="https://www.va.gov/oig/">Office of the Inspector General</a>
                        <a href="https://www.va.gov/privacy-policy/">Privacy policy</a>
                        <a href="https://www.usa.gov/">USA.gov</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>