<footer class="site-footer vads-u-color--white vads-u-background-color--primary-darkest vads-u-display--flex vads-u-align-items--center" role="contentinfo">
    <div class="vads-l-grid-container">
        <div class="vads-l-row">
            <div class="vads-l-col">
                <div class="vads-u-display--flex vads-u-align-items--center vads-u-justify-content--space-between vads-u-flex-wrap--wrap medium-screen:vads-u-flex-wrap--nowrap">
                    <div class="vads-u-font-weight--bold vads-u-margin-right--9 vads-u-display--flex vads-u-align-items--center">
                        <a href="https://www.va.gov/" class="vads-u-display--block vads-u-margin-right--4" title="Go to VA.gov">
                            <img src="assets/img/va-logo-white.png"
                                 class="site-footer__logo"
                                 alt="U.S. Department of Veterans Affairs logo">
                        </a>
                        <a href="https://www.va.gov/" class="site-footer__vagov">Go to VA.gov</a>
                    </div>
                    <div class="site-footer__links vads-u-display--flex vads-u-flex-direction--column vads-u-flex-wrap--wrap vads-u-text-align--left vads-u-margin-top--2p5 medium-screen:vads-u-flex-direction--row medium-screen:vads-u-align-content--flex-start medium-screen:vads-u-margin-top--0">
                        <a href="https://www.va.gov/ABOUT_VA/index.asp">About VA</a>
                        <a href="https://www.va.gov/foia/">FOIA</a>
                        <a href="https://www.va.gov/oig/">Office of the Inspector General</a>
                        <a href="https://www.va.gov/privacy-policy/">Privacy policy</a>
                        <a href="https://www.usa.gov/" target="_blank" rel="noopener">USA.gov</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>