<footer class="site-footer vads-u-padding-y--5" role="contentinfo">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="site-l-wrapper">
          <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
            <span>Built by the Digital Experience Product Office</span>
            <a href="/" class="site-footer__logo" title="Go to VA.gov">
              <img src="{{site.baseurl}}/assets/img/va-logo-white.png" alt="U.S. Department of Veterans Affairs logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>