<header class="site-header vads-u-padding-y--4" aria-label="performance-dashboard-header">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="site-header__masthead">
          <h2 class="site-header__logo-text">
            <a class="site-header__logo-link" title="VA.gov Performance Dashboard" href="/">
              <span>VA.gov</span>
              <span>|</span>
              <span>Performance Dashboard</span>
            </a>
          </h2>
          <div class="site-header__utility-links">
            Last updated {{site.data.last_updated.date}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>