<header class="site-header vads-u-padding-y--4" role="banner">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="site-header__masthead">
          <em class="site-header__logo-text">
            <a class="site-header__logo-link" title="VA.gov Performance Dashboard" href="/">
              <strong class="vads-u-display--block small-screen:vads-u-display--inline">VA.gov</strong>
              <span class="vads-u-display--none small-screen:vads-u-display--inline">|</span> Performance Dashboard
            </a>
          </em>
          <div class="site-header__utility-links">
            Last updated March 13, 2020
          </div>
        </div>
      </div>
    </div>
  </div>
</header>