<div class="vads-u-color--white vads-u-background-color--primary vads-u-padding-y--3" aria-label="north-star">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="vads-u-font-family--sans vads-u-font-size--base">
            <p class="vads-u-margin-top--0">
              We are transforming VA.gov into a single unified digital experience for all Veterans.
              This performance dashboard tracks our progress in that mission by sharing metrics that support our
                three North Star goals:
            </p>
            <ol>
              <li>
                  Increase the use of self-service tools
              </li>
              <li>
                  Decrease the time Veterans spend waiting for an outcome
              </li>
              <li>
                  Consistently deliver a satisfying, reliable, and secure experience
              </li>
            </ol>
        </div>
      </div>
    </div>
  </div>
</div>
