<div class="north-star vads-u-padding-y--3" role="banner">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="north-star__masthead vads-u-margin-bottom--1p5">
          <em class="north-star__logo-text vads-u-font-family--serif vads-u-font-size--xl">
              <span class="vads-u-display--none small-screen:vads-u-display--inline">Our North Star</span>
          </em>
        </div>
        <div class="vads-u-font-family--sans vads-u-font-size--base">
          VA.gov was created to provide a single unified digital experience for all Veterans.
          This performance dashboard tracks our progress in that mission by sharing metrics related to our
            <span class="north-star__text-emphasis">three North Star goals:</span>
              <ol>
                  <li>
                      <span class="north-star__text-emphasis">Increasing the use of self-service tools,</span> measured by the number of logged-in users on VA.gov
                  </li>
                  <li>
                      <span class="north-star__text-emphasis">Decreasing the time Veterans spend waiting for an outcome,</span> measured by successful transactions on VA.gov
                  </li>
                  <li>
                      <span class="north-star__text-emphasis">Consistently delivering a satisfying, reliable, and secure experience,</span> measured by customer satisfaction
                  </li>
              </ol>
        </div>
      </div>
    </div>
  </div>
</div>