<div class="vads-u-color--white vads-u-background-color--primary vads-u-padding-y--3" aria-label="north-star">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="vads-u-margin-bottom--1p5 vads-u-display--flex vads-u-justify-content--space-between">
          <h2 class="vads-u-font-family--serif vads-u-margin--0">
              Our North Star
          </h2>
        </div>
        <div class="vads-u-font-family--sans vads-u-font-size--base">
            <p>
              VA.gov was created to provide a single unified digital experience for all Veterans.
              This performance dashboard tracks our progress in that mission by sharing metrics related to our
                <span class="vads-u-font-weight--bold">three North Star goals:</span>
            </p>
            <ol>
              <li>
                  <span class="vads-u-font-weight--bold">Increasing the use of self-service tools,</span> measured by the number of logged-in users on VA.gov
              </li>
              <li>
                  <span class="vads-u-font-weight--bold">Decreasing the time Veterans spend waiting for an outcome,</span> measured by successful transactions on VA.gov
              </li>
              <li>
                  <span class="vads-u-font-weight--bold">Consistently delivering a satisfying, reliable, and secure experience,</span> measured by customer satisfaction
              </li>
            </ol>
        </div>
      </div>
    </div>
  </div>
</div>