<section class="service-tile">
    <h3 class="vads-u-font-family--serif">{{ include.title }}</h3>

    <div class="service-tile__metric">
        <span class="service-tile__title">LOGGED IN USERS</span>
        <span class="service-tile__headline vads-u-font-family--serif">999</span>
        <span class="service-tile__1-month">
            <i class="fas fa-arrow-circle-up accordion-metric__trend"></i>
            Up X% Last 30 days
        </span>
    </div>

    <div class="service-tile__metric">
        <span class="service-tile__title">CUSTOMER SATISFACTION</span>
        <span class="service-tile__headline vads-u-font-family--serif">88%</span>
        <span class="service-tile__1-month">
            <i class="fas fa-arrow-circle-up accordion-metric__trend"></i>
            Up X% Last 30 days
        </span>
    </div>
</section>