<section class="service-tile">
    <h3 class="vads-u-font-family--serif" id="{{ service.label }}-tile">{{ service.title }}</h3>

    <div class="service-tile__metric">
        <span class="service-tile__title">LOGGED IN USERS</span>
        <span class="service-tile__headline vads-u-font-family--serif">{{ service.users | intcomma }}</span>
        <span class="service-tile__1-month">
            {% if service.users_trend > 0 %}
                <i class="fas fa-arrow-circle-up service-tile__trend-icon"></i>
                Up {{ service.users_trend }}% Last 30 days
            {% else %}
                <i class="fas fa-arrow-circle-down service-tile__trend-icon"></i>
                Down {{ service.users_trend }}% Last 30 days
            {% endif %}
        </span>
    </div>

    <div class="service-tile__metric">
        <span class="service-tile__title">CUSTOMER SATISFACTION</span>
        <span class="service-tile__headline vads-u-font-family--serif">{{ service.csat }}%</span>
        <span class="service-tile__1-month">
            {% if service.csat_trend > 0 %}
                <i class="fas fa-arrow-circle-up service-tile__trend-icon"></i>
                Up {{ service.csat_trend }}% Last 30 days
            {% else %}
                <i class="fas fa-arrow-circle-down service-tile__trend-icon"></i>
                Down {{ service.csat_trend }}% Last 30 days
            {% endif %}
        </span>
    </div>

    <table>
        <thead>
            <tr>
                <th>Tool</th>
                <th>Transactions</th>
            </tr>
        </thead>
        <tbody>
            {% for tool in service.tools %}
                <tr>
                    <td>{{ tool.title }}</td>
                    <td>{{ tool.transactions | intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>