---
title: Vets.gov Scorecard
access: Improving Veteran access to benefits and services
tiles:

  - name: Cloud cost savings of 85% versus internal VA hosting
    layout: compare_100bars
    id: hosting
    datapoint: 15
    after_text: Actual AWS costs
    before: 100
    before_text: Estimated VA Hosting

  - name: Vets.gov accounts
    layout: basic_count
    datapoint: loa3accounts
    context: that have been secured to the highest level of federal certification (LOA3) against fraud, abuse, and cyber threats

  - name: Pages optimized for viewing on mobile devices
    layout: compare_100bars
    id: mobile
    datapoint: 100
    before: 46

  - name: Accessibility and 508 compliance targets
    layout: basic
    datapoint: 100%
    context: daily automated testing of all Vets.gov features to enforce their accessibility to users of assistive technology

  - name: Percent of the 582k annual healthcare applications completed online
    layout: compare_pie
    id: applications
    datapoint: 50
    before: 10
    after_text: 2017

  - name: Days in VA release cycle
    layout: compare
    datapoint: 1
    after_text: Vets.gov
    before: 90
    before_text: Before

charts: core
accounts: core

feedback:

  - name: Veteran reaction to healthcare application
    layout: quote
    text: This is super easy. I have not had this level of ease with a website for the government at all. This is awesome&hellip;the other website&hellip;leads you in back door that’s blocked with spikes and IEDs.”

  - name: Learn more about our human-centered design approach to building vets.gov
    url: research.html
    layout: link
    text:

cloud:

  - name: Availability
    layout: basic_cloud
    datapoint: reachability
    context: based on our continuous reachability monitoring

  - name: Error rate
    layout: basic_cloud
    datapoint: error_rate
    context: of requests that our software does not handle successfully
---

{% include header.html %}

{% include tile_section.html %}

<div class="usa-grid-full">
  <div class="usa-width-one-whole">
      <h3>Enabling Veterans to:</h3>
    </div>
  </div>
</div>

<div class="category-grid">
  {% assign categories = "Discover, Apply, Track, Manage" | split: ", " %}
  {% for category in categories %}
  <div class="usa-grid-full">
    <div class="usa-width-one-whole category-header">
      <h4>{{category}}</h4>
    </div>
  </div>
  {% assign projects = site.boards | where: "category", category | sort: "status" %}
  {% for project in projects %}
    {% assign start = forloop.index | modulo: 4 %}
    {% if start == 1 %}<div class="usa-grid-full">{% endif %}
    {% include project.html %}
    {% if start == 0 or forloop.last %}</div>{% endif %}
  {% endfor %}
</div>
{% endfor %}
</div>

<div class="quote-band">
  <div class="usa-grid">
    <div class="row subtitle">
      <div class="usa-width-one-whole">
        <h3>Veteran-Centered Design</h3>
      </div>
    </div>
    {% include research/research.html %}
  </div>
</div>

{% include cloud.html %}

{% include migration.html %}

{% include footer.html %}
