---
title: IT Cloud Migration, Modernization & Decommission
description: Beta for internal demo only
---

{% include header.html %}

    <div class="container">
        <ul class="legend">
            <li><span class="status complete"></span> Complete</li>
            <li><span class="status in-progress"></span> In Progress </li>
            <li><span class="status low-risk"></span> Risk of Delay*</li>
            <li><span class="status high-risk"></span> Delayed** </li>
            <li><span class="status not-started"></span> Not Started</li>
        </ul>

        <p class="note">* Risks being managed by team, but may require escalation<br> ** requires action / assistance</p>
        <table class="migration_table">
            <thead>
                <tr>
                    <th>Project/System</th>
                    <th>Business Owner / App Owner</th>
                    <th>Pre-Intake</th>
                    <th>OIT Intake <span>(VIPR)</span></th>
                    <th>Migrate to Cloud <span>(Yes/No)</span></th>
                    <th>ECSO Planning</th>
                    <th>Provisioning</th>
                    <th>Build Out & Cutover</th>
                    <th>Cloud Operations</th>
                    <th>Migration Complete <span>(Yes/No)</span></th>
                    <th>Retire/Decommission</th>
                </tr>
            </thead>
            <tbody>
                {% for product in site.data.migration_status %}
                <tr>
                    <td><a href={{product.link}}>{{ product.name }}</a></td>
                    <td>{{ product.lead }}</td>

                    {% assign sections = "pre_intake,oit_intake" | split: ',' %}
                    {% for section in sections %}
                        <td class="{% case product[section] %}
                                        {% when 'Complete' %} complete
                                        {% when 'N/A' %} complete
                                        {% when 'Green' %} in-progress
                                        {% when 'Yellow' %} low-risk
                                        {% when 'Red' %} high-risk
                                        {% else %} not-started
                                   {% endcase %}">
                            {% if product[section] == 'Complete' %}Complete{% endif %}
                            {% if product[section] == 'N/A' %}N/A{% endif %}
                        </td>
                    {% endfor %}

                    <td>{{ product.migrate_to_cloud }}</td>

                    {% assign sections = "migration_planning,provisioning_tasks,migration_cutover,operations_tasks" | split: ',' %}
                    {% for section in sections %}
                        <td class="{% case product[section] %}
                                        {% when 'Complete' %} complete
                                        {% when 'N/A' %} complete
                                        {% when 'Green' %} in-progress
                                        {% when 'Yellow' %} low-risk
                                        {% when 'Red' %} high-risk
                                        {% else %} not-started
                                   {% endcase %}">
                            {% if product[section] == 'Complete' %}Complete{% endif %}
                            {% if product[section] == 'N/A' %}N/A{% endif %}
                        </td>
                    {% endfor %}

                    <td>{{ product.cutover_complete }}</td>

                    {% assign sections = "decom" | split: ',' %}
                    {% for section in sections %}
                        <td class="{% case product[section] %}
                                        {% when 'Complete' %} complete
                                        {% when 'N/A' %} complete
                                        {% when 'Green' %} in-progress
                                        {% when 'Yellow' %} low-risk
                                        {% when 'Red' %} high-risk
                                        {% else %} not-started
                                   {% endcase %}">
                            {% if product[section] == 'Complete' %}Complete{% endif %}
                            {% if product[section] == 'N/A' %}N/A{% endif %}

                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
Last Update: Wed May 22 04:17:41 UTC 2019

{% include footer.html %}
