---
title: Vets.gov Migration Status
description: Last updated in early 2016
---

{% include header.html %}

    <div class="container">
        <ul class="legend">
            <li><span class="status complete"></span> Complete</li>
            <li><span class="status in-progress"></span> In Progress </li>
            <li><span class="status low-risk"></span> Risk of Delay*</li>
            <li><span class="status high-risk"></span> Delayed** </li>
            <li><span class="status not-started"></span> Not Started</li>
        </ul>

        <p class="note">* Risks being managed by team, but may require escalation<br> ** requires action / assistance</p>
        <table class="migration_table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Vets.gov Lead</th>
                    <th>VA Business Owner</th>
                    <th>Product Definition</th>
                    <th>Discovery</th>
                    <th>Prototype</th>
                    <th>Pre-Flight</th>
                    <th>Go Live</th>
                    <th>Launch Date</th>
                </tr>
            </thead>
            <tbody>
                {% for product in site.data.migration_status %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.lead }}</td>
                    <td>{{ product.business_owner }}</td>

                    {% assign sections = "definition,discovery,prototype,preflight,go_live" | split: ',' %}
                    {% for section in sections %}
                        <td class="{% case product[section] %}
                                        {% when 'Complete' %} complete
                                        {% when 'N/A' %} complete
                                        {% when 'Green' %} in-progress
                                        {% when 'Yellow' %} low-risk
                                        {% when 'Red' %} high-risk
                                        {% else %} not-started
                                   {% endcase %}">
                            {% if product[section] == 'Complete' %}Complete{% endif %}
                            {% if product[section] == 'N/A' %}N/A{% endif %}
                        </td>
                    {% endfor %}
                    <td>{{ product.launch_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include footer.html %}
