
<div class="tile-container">

{% if page.tiles.size > 0 %}
  <div class="usa-grid-full">
    <div class="usa-width-one-whole">
      {% unless page.access %}
      <h2>Featured Improvements</h2>
      {% else %}
      <h2>Access Improvements</h2>
      <p class="usa-font-lead">{{page.access}}</p>
      {% endunless %}
    </div>
  </div>

  {% assign featured = page.tiles | where_exp: "item", "item.layout != 'chart'" %}
  {% for tile in featured %}
    {% assign start = forloop.index | modulo: 3 %}

    {% if start == 1 %}<div class="usa-grid-full">{% endif %}
    {% include tiles/{{tile.layout}}.html %}
    {% if start == 0 or forloop.last %}</div>{% endif %}
  {% endfor %}
{% endif %}
</div>

{% include charts/chart_section.html %}
