{% if page.charts or page.accounts or page.clicks %}

<div class="usa-grid-full">

  <div class="usa-width-one-whole">
      <h3>Traffic &amp; Users</h3>
  </div>

  <script>
  var myCharts = [];
  </script>

  <div class="usa-width-one-whole">
    {% if page.charts or page.accounts or page.clicks %}
    <ul class="usa-accordion-bordered">

      {% assign charts = page.charts | concat: page.accounts | concat: page.clicks %}

      {% for chart in charts %}
      <li>
        <button class="usa-accordion-button"
          aria-expanded={% if forloop.first == true %}"true"{% else %}"false"{% endif %}
          aria-controls="b-a{{forloop.index}}">
          {{chart.name}}
        </button>
        <div id="b-a{{forloop.index}}" class="usa-accordion-content">
          {% include tiles/chart.html %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <script>
  window.onload = function () {
    canvases = document.getElementsByClassName("metric-chart");

    // var i;

    responsive : true;
    animation: true;

    // //Skip first that's already displayed
    // for (i = 1; i < canvases.length; i++) {
    //     canvases[i].style.height=canvases[0].style.height;
    //     canvases[i].style.width=canvases[0].style.width;
    // }
  }
  </script>

  {% endif %}
</div>
