
        </div>
      </div>
    </div>
  </main>
</div>

<footer class="footer" role="contentinfo">
  <div class="footer-inner">
    <div class="row va-flex">
    <ul class="va-footer-linkgroup" id="footer-services">
      <li><h4 class="va-footer-linkgroup-title">Main Site</h4></li>
      <li><a href="/">Vets.gov</a></li>
    </ul>
    </div>
    <div class="row" id="va-footer-supplementallinks">
      <div>
        <ul class="va-footer-linkgroup--inline" id="footer-supplemental">
          <li><a href="/playbook/" onClick="footerNavClick(this);">Vets.gov Playbook</a></li>
          <li><a target="_blank" href="https://www.va.gov/oig/" onClick="footerNavClick(this);">Inspector General</a></li>
          <li><a target="_blank" href="https://www.section508.va.gov/" onClick="footerNavClick(this);">Accessibility</a></li>
          <li><a href="/privacy/" onClick="footerNavClick(this);">Privacy</a></li>
          <li><a target="_blank" href="http://usa.gov" onClick="footerNavClick(this);">USA.gov</a></li>
        </ul>
      </div>
      <div>
        <div class="footer-seal">
          <abbr>VA</abbr> | U.S. Department of Veterans Affairs
        </div>
      </div>
    </div>
    <div class="row disclaimer">
      <p>Please note: Content on this Web page is for informational purposes only. It is not intended to provide legal advice or to be a comprehensive statement or analysis of applicable statutes, regulations, and case law governing this topic. Rather, it’s a plain-language summary. If you are seeking claims assistance, your local VA regional office, a VA-recognized Veterans Service Organization, or a VA-accredited attorney or agent can help. <a target="_blank" href="https://www.va.gov/ogc/apps/accreditation/index.asp">Search Accredited Attorneys, Claims Agents, or Veterans Service Organizations (VSO) Representatives</a>.</p>
    </div>
  </div>
</footer>
<script src="{{site.baseurl}}/assets/js/uswds.min.js"></script>
</body>
</html>
