<div class="usa-grid-full">
  <div class="usa-width-one-whole">
    <h2>User Experience Comparison</h2>
  </div>
</div>

<div class="usa-grid-full ux-compare">
  <div class="usa-width-one-half">
      <p class="usa-font-lead">Before</p>
      <img src="{{ site.baseurl }}/assets/img/{{page.screenshot}}_old.png" class="img-responsive" alt="The old experience" />
  </div>
  <div class="usa-width-one-half">
      <p class="usa-font-lead">After</p>
      <img src="{{ site.baseurl }}/assets/img/{{page.screenshot}}.png" class="img-responsive" alt="The vets.gov experience" />
  </div>
</div>
