
<div class="usa-grid-full tile-container">

{% if page.tiles.size > 0 %}
  <div class="subtitle">
    <div class="usa-width-one-whole">
      {% unless page.access %}
      <h3>Featured Improvements</h3>
      {% else %}
      <h3>Access Improvements</h3>
      <p>{{page.access}}</p>
      {% endunless %}
    </div>
  </div>

  <div class="usa-width-one-whole">
  {% assign featured = page.tiles | where_exp: "item", "item.layout != 'chart'" %}
  {% for tile in featured %}
    {% assign start = forloop.index | modulo: 2 %}

    {% if start == 1 %}<div class="usa-grid-full">{% endif %}
    {% include tiles/{{tile.layout}}.html %}
    {% if start == 0 or forloop.last %}</div>{% endif %}
  {% endfor %}
  </div>
{% endif %}
</div>

{% include chart_section.html %}
