
<div class="usa-grid-full tile-container">

{% if page.tiles.size > 0 %}
  <div class="subtitle">
    <div class="usa-width-one-whole">
      {% unless page.access %}
      <h3>Featured Improvements</h3>
      {% else %}
      <h3>Access Improvements</h3>
      <p>{{page.access}}</p>
      {% endunless %}
    </div>
  </div>

  {% assign featured = page.tiles | where_exp: "item", "item.layout != 'chart'" %}
  {% for tile in featured limit: 3 %}
    {% include tiles/{{tile.layout}}.html %}
  {% endfor %}

  {% if featured.size > 3 %}
    {% for tile in featured offset: 3 %}
      {% include tiles/{{tile.layout}}.html %}
    {% endfor %}
  {% endif %}

{% endif %}

{% include chart_section.html %}

</div>
