.category-grid p {
  font-weight: 500;
}
.project-wrapper p.project-title:after {
  content: "View more";
  width: 100%;
  overflow: hidden;
  font-size: .65em;
  font-weight: normal;
  text-transform: uppercase;
  background: #0071BC;
  color: #fff;
  display: block;
  right: 0;
  bottom: 0;
  padding: .35em;
  -webkit-border-bottom-left-radius: .35em;
  -webkit-border-bottom-right-radius: .35em;
  border-bottom-left-radius: .35em;
  border-bottom-right-radius: .35em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  position: absolute;
  text-align: right;
  z-index: -500;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
