---
---

// Use a copied version of vets-website variables until design system available as a module
@import "b-variables";
@import "b-font-faces";

// Use vendored copy of USWDS 1.4.4 for now
@import 'uswds-1.4.4/all';

@import "b-breakpoints";
@import "va";
@import "m-footer";

// Legacy styles to retire?
@import "research-quotes";
@import "tiles";
@import "projects";
@import "screenshots";
@import "migration";

@import "shame";

b {
  color: $color-va-accent;
  line-height: 1em;
}

.interior h2 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
