---
---

// Use a copied version of vets-website variables until design system available as a module
@import "b-variables";
@import "b-font-faces";

// Use vendored copy of USWDS 1.4.4 for now
@import 'uswds-1.4.4/all';

@import "b-breakpoints";
@import "va";
@import "m-footer";

// Legacy styles to retire?
@import "tiles";
@import "projects";
@import "migration";

@import "shame";

b {
  color: $color-va-accent;
  line-height: 1em;
}

section {
  margin-bottom: 60px;
}

.interior h2 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

#slogan {
  font-weight: 400;
  padding: 2em 0.75em 0;
}

.ux-compare img {
  margin-bottom: 3em;
  border: 1px solid #ccc;
}

.quotes {
  opacity: .2;
  padding-top: 1.5em;
  font-size: 100px;
  font-weight: 700;
  vertical-align: top;
  line-height: 100px;
}

.button-research {
  margin-top: 30px !important;
}