.north-star {
  color: #fff;
  background-color: $color-primary;
}

.north-star__masthead {
  display: flex;
  justify-content: space-between;
}

.north-star__logo-text {
  display: block;
  line-height: 3.0rem;
  font-weight: bold;
  font-style: normal;
  margin: units(3) 0;

  @include media($nav-width) {
    font-size: 3.0rem;
  }
}

.north-star__text-emphasis {
    font-weight: bold;
}