{% if page.charts or page.accounts or page.clicks %}
<section>
  <div class="usa-grid-full">

    <div class="usa-width-one-whole">
        <h2>Traffic &amp; Users</h2>
    </div>

    <script nonce="**CSP_NONCE**">
    var myCharts = [];
    </script>

    <div class="usa-width-one-whole">
      {% if page.charts or page.accounts or page.clicks %}
      <ul class="usa-accordion-bordered">

        {% if page.charts %}
          {% if page.accounts %}
            {% assign charts = site.data.charts | concat: site.data.accounts %}
          {% else %}
            {% assign charts = site.data.charts %}
          {% endif %}
        {% elsif page.clicks %}
          {% assign charts = site.data.clicks %}
        {% endif %}

        {% for chart in charts %}
        <li>
          <button class="usa-accordion-button"
            aria-expanded={% if forloop.first == true %}"true"{% else %}"false"{% endif %}
            aria-controls="b-a{{forloop.index}}">
            {{chart.name}}
          </button>
          <div id="b-a{{forloop.index}}" class="usa-accordion-content">
            {% include charts/chart.html %}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <script nonce="**CSP_NONCE**">
    window.onload = function () {
      responsive : true;
      animation: true;
    }
    </script>

  </div>
</section>
{% endif %}
