---
title: VA.gov Performance

name: Transactions
context: Successful transactions in the last year
axisLabel: Successful Transactions (Millions)
id: transactionsChart
dataLabel: Transactions
color: '#0071bb'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{page.title}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/design/icons/favicon.ico" />

  <script src="{{site.baseurl}}/assets/vendor/chart.js/Chart.bundle.min.js"></script>
  <script src="{{site.baseurl}}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{site.baseurl}}/assets/vendor/formation/formation.js"></script>

  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css" />
</head>

<body>

{% include govt_site_banner.html %}

<header class="site-header vads-u-padding-y--4" role="banner">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="site-header__masthead">
          <em class="site-header__logo-text">
            <a class="site-header__logo-link" title="VA.gov Performance Dashboard" href="/">
              <strong class="vads-u-display--block small-screen:vads-u-display--inline">VA.gov</strong>
              <span class="vads-u-display--none small-screen:vads-u-display--inline">|</span> Performance Dashboard
            </a>
          </em>
          <div class="site-header__utility-links">
            Last Updated: March 13, 2020
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="vads-l-grid-container">

 {% include at_a_glance.html %}

  <div class="vads-l-row">
    <div class="vads-l-col">

      <div class="va-h-ruled--stars vads-u-margin-y--4"></div>

    </div>
  </div>

  <div class="vads-l-row">
    <div class="vads-l-col vads-u-margin-right--3">

      <ul class="usa-accordion-bordered" data-multiselectable="true">
        <li class="vads-u-margin-bottom--2">
          <button class="usa-accordion-button" aria-expanded="true" aria-controls="a1">
            Example metric 1
          </button>
          <div id="a1" class="usa-accordion-content">
            Contents
          </div>
        </li>
        <li class="vads-u-margin-bottom--2">
          <button class="usa-accordion-button" aria-expanded="true" aria-controls="a2">
            Example metric 2
          </button>
          <div id="a2" class="usa-accordion-content">
            Contents
          </div>
        </li>
      </ul>

    </div>

    <div class="vads-l-col">

      <ul class="usa-accordion-bordered" data-multiselectable="true">
        <li class="vads-u-margin-bottom--2">
          <button class="usa-accordion-button" aria-expanded="true" aria-controls="a3">
            Example metric 3
          </button>
          <div id="a3" class="usa-accordion-content">
            Contents
          </div>
        </li>
      </ul>

    </div>
  </div>

</div>

<footer class="site-footer vads-u-padding-y--5" role="contentinfo">
  <div class="vads-l-grid-container">
    <div class="vads-l-row">
      <div class="vads-l-col">
        <div class="site-l-wrapper">
          <div class="medium-screen:vads-u-display--flex medium-screen:vads-u-justify-content--space-between vads-u-align-items--center">
            <span>Built by the Digital Experience Product Office</span>
            <a href="/" class="site-footer__logo" title="Go to VA.gov">
              <img src="{{site.baseurl}}/assets/img/va-logo-white.png" alt="U.S. Department of Veterans Affairs logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>


