---
title: Veteran-Centered Design
description: Our goal is to make vets.gov work for Veterans&mdash;and Veterans' feedback helps us get there. We share the team's in-progress work to make sure vets.gov is as helpful and as easy to use as possible.
tiles:

  - name: One-on-one feedback sessions
    layout: basic
    datapoint: 200+
    context: held with Veterans

  - name: Studies conducted
    layout: basic
    datapoint: 35+
    context: to evaluate products across vets.gov

feedback:

  - name: A Marine Veteran responding to the vets.gov homepage
    layout: quote
    text: "Wow, a kaleidoscope of people&mdash;and it's actually really cool to see benefits and services all in one place&mdash;this makes me smile on the inside."

---

{% include header.html %}

{% include tile_section.html %}

<div class="quote-band big">
  <div class="container research-list">
    {% include research.html %}
    </div>
  </div>
</div>

<div class="container tile-container">
  <div class="row">
    <div class="col-md-12">
      <a class="usa-button dark" href="https://www.va.gov/playbook/human-centered-design/">Learn more about our human-centered process</a>
    </div>
  </div>
</div>

{% include footer.html %}
