.accordion-icon-disability {
  color: $color-hub-disability;
}

.accordion-icon-pension {
  color: $color-hub-pension;
}

.accordion-icon-appointment {
  color: $color-hub-health-care;
}

.accordion-metric__item {
  margin-bottom: 16px;
}

h3 {
    font-size: units(2);
    display: inline;
    font-family: inherit;
    font-weight: bold;
}

.accordion-metric__headline {
  font-weight: bold;
  font-size: 30px;
}

.accordion-metric__30-days {
  font-size: 14px;
}

.accordion-metric__trend {
  color: $color-primary;
}

.accordion-metric__12-months {
  font-size: 14px;
}