.site-footer {
  min-height: 10rem;

  a {
    color: $color-white;
  }

  .vads-l-grid-container {
    padding: 1rem;
    min-width: 32rem;

    @include media($medium-screen) {
      width: 100rem;
    }
  }
}

.site-footer__vagov {
  min-width: 9rem;
}

.site-footer__logo {
  width: 15rem;
  max-width: none;

  @include media($small-screen) {
    width: 20rem;
  }
}

.site-footer__links {
  a {
    margin: 0 2rem 1rem 0;

    &:last-child {
      margin: 0;
    }
  }

  @include media($small-screen) {
    a {
      margin-bottom: 0;
    }
  }
}
