.north-star {
  color: $color-white;
  background-color: $color-primary;
}

.north-star__masthead {
  display: flex;
  justify-content: space-between;
}

.north-star__logo-text {
  display: block;
  line-height: units(3);
  font-weight: bold;
  font-style: normal;
  margin: 0;
  display: inline;
  font-size: 2.1rem;

  @include media($nav-width) {
    font-size: 3rem;
  }
}

.north-star__text-emphasis {
    font-weight: bold;
}



